html,
body {
    margin: 0px;
    padding: 0px;
    background-image: url(../images/bg.gif);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
    margin: 0px;
    padding: 0px;
}
.formedit {
    margin-top: 20px;
}
#wrapper {
    width: 800px;
    margin: 0px auto;
    background-color: #fff;
}

#content {
    width: 778px;
    margin: 10px auto;
    border-radius: 10px;
}

#header {
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: column;
}

#logo {
    width: 95vh;
    float: left;
    display: flex;
    padding-top: 10px;
}

#logo h1 {
    font-family: "Trebuchet MS";
    font-size: 26px;
    color: #f76b0c;
    font-weight: normal;
    text-decoration: none;
}

#logo h4 {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #808080;
    font-weight: normal;
    text-decoration: none;
    padding-left: 10px;
    align-items: center;
    display: flex;
}

#links ul {
    display: flex;
    justify-content: left;
    margin: 0px 0 0 -30px;
    padding-top: 10px;
    gap: 10px;
}

#links li {
    float: left;
    list-style-type: none;
    width: auto;
    padding: 3px 10px;
    text-align: center;
    background-color: #f76b0c;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

#links a {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

#links a:hover {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}

#mainimg {
    width: 95vh;
    background-image: url(../images/main_img.jpg);
    background-repeat: no-repeat;
    height: 120px;
    text-align: right;
}

#mainimg h3 {
    font-family: "Trebuchet MS";
    font-size: 48px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    padding: 20px 40px 0px 0px;
}

#mainimg h4 {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    padding: 0px 40px 0px 0px;
}

#contentarea {
    clear: both;
    padding: 25px 0px;
}

#leftbar {
    float: left;
    width: 100vh;
}

#leftbar {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #353635;
    font-weight: normal;
    text-decoration: none;
    padding: 0px 40px;
}

#leftbar h2 {
    font-family: "Trebuchet MS";
    font-size: 26px;
    color: #ee8907;
    font-weight: normal;
    text-decoration: none;
    padding-left: 40px;
    padding-bottom: 5px;
}

#leftbar p {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #797b7a;
    font-weight: normal;
    text-decoration: none;
    padding: 0px 40px;
}

/* Modificar este color para que el boton de nuevo se vea de manera correcta                  */
#leftbar a {
    font-family: "Trebuchet MS";
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    width: auto;
}

.orangetext {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #ee8907;
    font-weight: bold;
    text-decoration: none;
}

#bottom {
    clear: both;
    height: 32px;
    padding-top: 25px;
}

#email {
    float: left;
    width: 500px;
    background-color: #9bbe00;
    height: 27px;
    padding-top: 5px;
}

#email a {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
    padding: 0px 40px;
}

#email a:hover {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    padding: 0px 40px;
}

#validtext {
    float: left;
    width: 278px;
    background-color: #9bbe00;
    height: 27px;
    padding-top: 5px;
}

#validtext p {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-align: right;
    padding-right: 35px;
}

#validtext a {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}

#validtext a:hover {
    font-family: "Trebuchet MS";
    font-size: 11px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

/* Estilos de la tabla para respetar el diseño de #leftbar */
#leftbar .table {
    width: 100%;
    margin-top: 20px;
    font-family: "Trebuchet MS";
    font-size: 12px;
    color: #000000;
    border-collapse: collapse;
}

#leftbar .table th,
#leftbar .table td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: left;
}

/* Encabezado de la tabla */
#leftbar .table th {
    background-color: #f76b0c;
    color: #ffffff;
    font-weight: bolder;
}

#leftbar .table .c1,
#leftbar .table .c2 {
    width: 40%;
}

/* Filas alternadas */
#leftbar .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Filas al pasar el ratón */
#leftbar .table-striped tbody tr:hover {
    background-color: #eee;
}

/* Estilos para botones */
#leftbar .table .btn {
    font-size: 10px;
    padding: 3px 6px;
    margin-right: 5px;
    color: #ffffff;
    font-weight: bold;
}

#leftbar .table .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

#leftbar .table .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    width: auto;
}

/* TRABAJANDO EL FORMULARIO */

.form-group {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    padding: 5px 10px;
    margin-top: 0px;
    font-size: 15px;
}

.submit-button {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
